<% let chaptersRead = 0; for(let manhwa of manhwas) chaptersRead+=
manhwa.chapter %>

<div class="card" id="<%- user.id %>">
  <div class="g-0 d-flex h-100">
    <div class="card-body pb-0">
      <h2 class="card-title card-title-elip p-0"><%- user.username %></h2>
      <p>Email: <%- user.email %></p>
      <p class="card-time">Role: <%= user.rol == 0 ? 'Saver' : 'Admin' %></p>
      <p class="card-time">Manhwas Saved: <%- manhwas.length %></p>
      <p class="card-content">
        Manhwa chapters read: <%- chaptersRead.toFixed(1) %>
      </p>
      <span>
        <button id="delete">Delete Account</button>
      </span>
    </div>
  </div>
</div>
<script src="/js/profile.js"></script>
