<div class="card">
  <div class="g-0 d-flex h-100">
    <!-- <div class="col-md-4 mb-0"> -->
    <img
      data-src="/manhwaImages/<%-manhwa.image%>"
      class="rounded-start manga-image m-auto lazyload"
      style="width: 200px !important"
      alt="<%= manhwa.slug %>" />
    <!-- </div> -->
    <!-- <div class="col-md-8"> -->
    <div class="card-body pb-0">
      <a href="/manhwa/<%- manhwa.mid %>" class="card-link">
        <h5 class="card-title card-title-elip p-0"><%- manhwa.title %></h5>
      </a>
      <span class="d-flex phone-col">
        <small
          >Chapters <%- manhwa.chapter % 1 !== 0 ? manhwa.chapter.toFixed(1) :
          manhwa.chapter %> OF <%- manhwa.chapters % 1 !== 0
          ?manhwa.chapters.toFixed(1) : manhwa.chapters %></small
        >
        <span class="phone-invis-div px-1">|</span>
        <small class="card-time"
          >Update: <%= new Date(manhwa.lastUpdate).toLocaleString('nl-NL', {
          timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone }).slice(0,
          -3) %></small
        ></span
      >
      <span class="d-flex phone-col">
        <small class="card-status"
          >Status: <%- manhwa.status.replace(/\s/g, '') %>
          <i class="<%- manhwa.status.toLowerCase().replace(/\s/g, '') %>"
            >&#9679;</i
          ></small
        >
        <span class="phone-invis-div px-1">|</span>
        <small class="card-source"
          >Source: <%- manhwa.baseurl.split('/')[2].split('.')[0] %>
        </small></span
      >
      <!-- <p class="card-text manhwa-row-content text-break"> -->
      <%# manhwa.content %>
      <!-- </p> -->
      <div class="w-100 g-0 p-1 phone-invis-save">
        <% if(manhwa.reading == 0){ %>
        <form
          action="/auth/chapter/<%- manhwa.mid %>"
          class="d-flex flex-row gap-2"
          method="POST">
          <input
            class="input-number form-control my-2 bg-dark text-light"
            type="number"
            name="chapternumber"
            id=""
            step="0.1"
            pattern="[0-9]*"
            style="font-size: 20px"
            inputmode="numeric"
            tabindex="-1"
            max="<%- manhwa.chapters.toFixed(1) %>"
            min="1"
            required />
          <button
            type="submit"
            class="btn btn-primary my-2 form-control"
            value="Log chapter">
            Log chapter
          </button>
        </form>
        <% } %>
      </div>
      <div class="gap-2 p-1 g-0 mt-2 w-100 d-flex flex-column" style="align-items: flex-end">
        <div class="d-flex w-100 mb-3" style="gap: 20px;">
        <button
          type="button"
          data-bs-toggle="modal" data-bs-target="#modal-<%-manhwa.mid%>"
          data-button="remove" data-id="<%- manhwa.mid %>"
          class="col btn btn-danger w-100">
          Remove
        </button>
        <button
          type="button" 
          data-bs-toggle="modal" data-bs-target="#modal-<%-manhwa.mid%>" 
          data-button="later" data-id="<%- manhwa.mid %>"
          class="btn col w-100 <%- manhwa.reading == 0 ? 'btn-warning' : 'btn-info' %>">
          <%- manhwa.reading == 0 ? "Later" : "Start" %>
        </button>
      </div>
      <div class="d-flex w-100" style="gap: 20px;">
        
        <% if(manhwa.reading == 0){ %>
        <a
          href="<%- manhwa.link %>"
          class="col btn btn-primary w-100"
          target="_blank"
          >Current</a
        >
        <a
          href="<%- manhwa.next %>"
          class="col btn btn-success w-100 <%- manhwa.next == "" ? 'disabled' : '' %>"
          target="_blank"
          >Next</a
        >
        <% } %>
      </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="w-100 g-0 p-1 phone-vis-save">
    <% if(manhwa.reading == 0){ %>
    <form
      action="/auth/chapter/<%- manhwa.mid %>"
      class="d-flex flex-row gap-2"
      method="POST">
      <input
        class="input-number form-control my-2 bg-dark text-light"
        type="number"
        name="chapternumber"
        id=""
        step="0.1"
        pattern="[0-9]*"
        style="font-size: 20px"
        inputmode="numeric"
        tabindex="-1"
        max="<%- manhwa.chapters.toFixed(1) %>"
        min="1"
        required />
      <button
        type="submit"
        class="btn btn-primary my-2 form-control"
        value="Log chapter">
        Log chapter
      </button>
    </form>
    <% } %>
  </div>
</div>
<%- include('modal.ejs', {manhwa}) %>
