<h1>Latest update</h1>
<div class="manhwa-rows card-group" id="manhwas">
  <div>
    <% for(let manhwa of manhwas){ %>
    <a
      href="/manhwa/<%- manhwa.mid %>"
      class="card-link text-decoration-none text-reset">
      <div class="card h-100">
        <div class="g-0 d-flex d-flex-home h-100">
          <div class="d-flex flex-column">
            <picture>
              <source
                media="(min-width: 1058px)"
                width="200"
                height="300"
                data-srcset="/manhwaImages/<%- manhwa.mid %>.webp" />
              <img
                data-src="/manhwaImages/<%- manhwa.mid %>-150x225.webp"
                class="rounded-start manga-image m-auto lazyload"
                alt="<%- manhwa.title %>"
                width="150"
                height="225"
                fetchpriority="high"
                as="image"
                type="image/webp"
                rel="preload" />
            </picture>
            <p class="align-self-bottom mb-0 phone-vis ms-1">Genres:</p>
          </div>
          <div class="card-body pb-0 d-flex flex-column h-100">
            <h2 class="card-title card-title-elip text-decoration-underline">
              <%- decodeURIComponent(manhwa.title) %>
            </h2>
            <span class="d-flex phone-col">
              <small class="card-chapter"
                >Chapters <%- manhwa.chapters % 1 !== 0
                ?manhwa.chapters.toFixed(1) : manhwa.chapters %></small
              >
              <span class="phone-invis-div px-1">|</span>
              <small class="card-time"
                >Update: <%- new Date(manhwa.lastUpdate).toLocaleString('nl-NL',
                { timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone
                }).slice(0, -3) %>
              </small>
            </span>
            <span class="d-flex phone-col">
              <small class="card-status"
                >Status: <%- manhwa.status.replace(/\s/g, '') %>
                <i
                  class="<%- manhwa.status.toLowerCase().replace(/\s/g, '') %> roundStatus">
                  &#9679;
                </i>
              </small>
              <span class="phone-invis-div px-1">|</span>
              <small class="card-source"
                >Source: <%- manhwa.baseurl.split('/')[2].split('.')[0];
                %></small
              >
            </span>
            Description:
            <p class="card-text manhwa-row-content mb-1 text-break">
              <%- manhwa.content %>
            </p>
            <div class="gap-2 p-0 g-0 mb-1 w-100 phone-invis">
              Genres:
              <div class="genres-manhwa">
                <% if(manhwa.genres != null) for(let genre of
                manhwa.genres.split(',')){ %>
                <span class="badge genre-badge me-1 mb-1"
                  ><i class="fas fa-fist-raised"><%- genre %></i>
                </span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="gap-2 p-1 g-0 w-100 phone-vis">
          <div class="genres-manhwa d-flex flex-wrap">
            <% if(manhwa.genres != null) for(let genre of
            manhwa.genres.split(',')){ %>
            <span class="badge genre-badge me-1 mb-1"
              ><i class="fas fa-fist-raised"><%- genre %></i>
            </span>
            <% } %>
          </div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</div>
