<meta name="robots" content="noindex,nofollow" />
<div class="search-container">
  <input
    type="text"
    id="search"
    class="form-control bg-dark text-light mb-2"
    placeholder="Search"
    autocomplete="off" />
  <% if(parseInt(page.split('=', 2)[1]) > Math.ceil(manhwas.length/6) ||
  parseInt(page.split('=', 2)[1]) <= 0){ %>
  <script>
    location.href = "/manhwa?page=1";
  </script>
  <% } %> <% if(page == "/manhwa"){ %>
  <a href="/manhwa?page=1" class="text-info">Show less</a>
  <% }else{ %>
  <a href="/manhwa" class="text-info">Show all</a>
  <% } %>
  <div class="found">Manhwas found: <span class="found-number"></span></div>
</div>

<div
  class="loading-spinner"
  style="display: none; position: relative; z-index: 2">
  <span class="spinner-border" style="margin-top: -3rem">
    <span class="visually-hidden">Loading...</span></span
  >
</div>
<div class="manhwa-rows"><div class="card-group" id="manhwas"></div></div>

<nav aria-label="Page navigation" class="pagination-manhwas">
  <input
    type="search"
    name="goto"
    id="goto"
    class="form-control rounded"
    placeholder="goto page"
    style="border: 1px solid black" />
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        href="/manhwa?page=<%- parseInt(page.split('=', 2)[1])-1 %>"
        >Prev</a
      >
      <a class="page-link" href="/manhwa?page=1">Start</a>
    </li>

    <% let start = parseInt(page.split('=', 2)[1]) > 3 ?
    parseInt(page.split('=', 2)[1])-1 : 1; for(let pages = start; pages <
    Math.ceil(manhwas.length / 6)+1; pages++){ %> <%if(pages > start+3 &&
    pages+2 < Math.ceil(manhwas.length/6)){ %> <% if(pages > start+4) continue;
    %>
    <li class="page-item page-link-number">
      <a class="page-link" href="/manhwa?page=<%- pages %>">...</a>
    </li>
    <% }else{ if(pages == parseInt(page.split('=', 2)[1])) {%>
    <li class="page-item page-link-number mobile-number">
      <p class="page-link" href="/manhwa?page=<%- pages %>"><%- pages %></p>
    </li>
    <% }else{ %>
    <li class="page-item page-link-number">
      <a class="page-link" href="/manhwa?page=<%- pages %>"><%- pages %></a>
    </li>
    <% }} %> <% } %>
    <li class="page-item">
      <a
        class="page-link"
        href="/manhwa?page=<%- parseInt(page.split('=', 2)[1])+1 %>"
        >Next</a
      >
      <a
        class="page-link"
        href="/manhwa?page=<%- Math.ceil(manhwas.length/6) %>"
        >End</a
      >
    </li>
  </ul>
</nav>

<template id="manhwa-card-template">
  <a href="/manhwa/" class="card-link text-decoration-none text-reset">
    <div class="card h-100">
      <div class="g-0 d-flex d-flex-home h-100">
        <div class="d-flex flex-column">
          <img
            data-src=""
            class="rounded-start manga-image m-auto lazyload"
            style="width: 200px !important"
            alt=""
            loading="lazy" />
          <p class="align-self-bottom mb-0 phone-vis ms-1">Genres:</p>
        </div>
        <div class="card-body pb-0 d-flex flex-column h-100">
          <h5 class="card-title card-title-elip text-decoration-underline"></h5>

          <span class="d-flex phone-col">
            <small class="card-chapter">Chapters </small>
            <span class="phone-invis-div px-1">|</span>
            <small class="card-time">Update: </small>
          </span>
          <span class="d-flex phone-col">
            <small class="card-status">Status: </small>
            <span class="phone-invis-div px-1">|</span>
            <small class="card-source">Source: </small>
          </span>
          Description:
          <p class="card-text manhwa-row-content mb-1 text-break"></p>
          <div class="gap-2 p-0 g-0 mb-1 w-100 phone-invis">
            Genres:
            <div class="genres-manhwa">
              <span class="badge genre-badge me-1 mb-1"
                ><i class="fas fa-fist-raised"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <div class="gap-2 p-1 g-0 w-100 phone-vis">
        <div class="genres-manhwa d-flex flex-wrap">
          <span class="badge genre-badge me-1 mb-1"
            ><i class="fas fa-fist-raised"></i>
          </span>
        </div>
      </div>
    </div>
  </a>
</template>

<script src="/js/main.js" type="module"></script>
