<div class="d-flex align-items-center h-100">
  <div class="d-flex manga-card">
    <div class="manga-single-place">
      <img
        data-src="/manhwaImages/<%= manhwa.image %>"
        class="img-fluid rounded-start lazyload"
        alt="<%= manhwa.slug %>" />
        </div>
      <div class="card-body p-4">
        <h1 class="card-title mb-3"><%- manhwa.title %></h1>
        <% if(typeof currentUser != 'undefined'){ %> <% if(typeof manhwa.saved
        != 'undefined'){ %>
        <p class="card-subtitle mb-2">
          Chapters read: <%= manhwa.saved.chapter %> OF <%- manhwa.chapters %>
        </p>
        <% }else{ %>
        <h6 class="card-subtitle mb-2">Chapters: <%- manhwa.chapters %></h6>
        <% }} %>
        <p class="card-subtitle mb-2">
          Status: <%- manhwa.status %>
          <i
            class="bi bi-circle-fill <%- manhwa.status.toLowerCase().replace(/\s/g, '') %>"></i>
        </p>
        <p class="card-time mb-2">
          Update: <%- new Date(manhwa.lastUpdate).toLocaleString('nl-NL', {
          timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone }).slice(0,
          -3) %>
        </p>
        <p class="card-source mb-2">
          Source: <%- manhwa.baseurl.split('/')[2].split('.')[0]; %>
        </p>
        <h6 class="card-subtitle">Description:</h6>
        <p class="card-text mb-2"><%- manhwa.content %></p>
        <div class="mb-4">
          Genres: <% for(let genre of manhwa.genres){ %>
          <span class="badge genre-badge me-1"
            ><i class="fas fa-fist-raised"><%- genre.name %></i>
          </span>
          <% } %>
        </div>
        <div class="d-flex w-100 gap-2">
          <% if(!manhwa.baseurl.includes('mgdemon')){ %>
          <a
            href="<%- manhwa.baseurl %>series/<%- manhwa.slug %>"
            target="_blank"
            class="btn btn-info w-100"
            >Manhwa site</a
          >
          <% }else{ %>
          <a
            href="<%- manhwa.baseurl %>manga/<%- manhwa.slug %>"
            target="_blank"
            class="btn btn-info w-100"
            >Manhwa site</a
          >
          <% } %> <% if(typeof currentUser != 'undefined'){ %> <% if(typeof
          manhwa.saved == 'undefined'){ %>
          <form
            action="/auth/chapter/<%- manhwa.mid %>"
            class="w-100"
            method="POST">
            <input
              class="form-control bg-dark text-light w-100"
              type="hidden"
              pattern="[0-9]*"
              inputmode="numeric"
              name="chapternumber"
              id=""
              value="1"
              max="<%- manhwa.chapters %>"
              min="1"
              required />
            <button
              type="submit"
              class="btn btn-primary form-control text-white w-100">
              Try manhwa
            </button>
          </form>

          <% }}else{ %>
          <a href="/login" class="btn btn-warning w-100"
            >Login to save manhwa</a
          >
          <% } %>
          <button
            class="btn btn-success w-100"
            onclick="window.history.go(-1); return faslse;">
            Return
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
