<div>
  <div class="card mb-3" style="max-width: 18rem">
    <button id="updateSaved">
      <div class="card-header">Update saved manhwas</div>
    </button>
  </div>

  <div id="progress"></div>
</div>
<template id="progress-site">
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      aria-valuenow="10"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 0%"></div>
  </div>
</template>
</div>
</div>
<div class="manhwa-rows" tabindex="0">
  <label class="devider-label" for="">Reading</label>
  <div class="devider" id="ongoing">
    <% for(let manhwa of manhwas){ if(manhwa.chapter.toFixed(1) != manhwa.chapters.toFixed(1)
    && manhwa.chapter != 1 && manhwa.reading != 1){ %> <%-
    include('parts/card.ejs', {manhwa}) %> <% manhwa.used = true;}} %>
  </div>
  <label class="devider-label" for="">Hiatus</label>
  <div class="devider card-group" id="hiatus">
    <% for(let manhwa of manhwas){ if(manhwa.status.toLowerCase().replace(/\s/g,
    '') == 'hiatus' && manhwa.chapter.toFixed(1) == manhwa.chapters.toFixed(1) && !manhwa.used){ %> <%- include('parts/card.ejs', {manhwa})
    %> <% manhwa.used = true;}} %>
  </div>
  <label class="devider-label" for="">Try</label>
  <div class="devider" id="hiatus">
    <% for(let manhwa of manhwas){ if(manhwa.chapter == 1 && !manhwa.used){ %>
    <%- include('parts/card.ejs', {manhwa}) %> <% manhwa.used = true;}} %>
  </div>
  <label class="devider-label" for="">Completed</label>
  <div class="devider" id="completed">
    <% for(let manhwa of manhwas){ if(manhwa.status.toLowerCase().replace(/\s/g,
    '') == 'completed' && manhwa.chapter.toFixed(1) !=
    manhwa.chapters.toFixed(1) && !manhwa.used){ %> <%-
    include('parts/card.ejs', {manhwa}) %> <% manhwa.used = true;}} %>
  </div>
  <label class="devider-label" for="">Dropped</label>
  <div class="devider" id="dropped">
    <% for(let manhwa of manhwas){ if(manhwa.status.toLowerCase().replace(/\s/g,
    '') == 'dropped' && !manhwa.used){ %> <%- include('parts/card.ejs',
    {manhwa}) %> <% manhwa.used = true;}} %>
  </div>
  <label class="devider-label" for="">Later</label>
  <div class="devider" id="hiatus">
    <% for(let manhwa of manhwas){ if(manhwa.reading == 1 && !manhwa.used){ %>
    <%- include('parts/card.ejs', {manhwa}) %> <% manhwa.used = true;}} %>
  </div>
  <label class="devider-label" for="">Up to date</label>
  <div class="devider" id="uptodate">
    <% for(let manhwa of manhwas){ if(manhwa.chapter.toFixed(1) ==
    manhwa.chapters.toFixed(1) && !manhwa.used){ %> <%-
    include('parts/card.ejs', {manhwa}) %> <% manhwa.used = true;}} %>
  </div>
</div>

<script src="/js/saved.js" type="module"></script>
