<div>
  <div class="card mb-3" style="max-width: 18rem">
    <button id="updateSaved">
      <div class="card-header">Update saved manhwas</div>
    </button>
  </div>

  <div id="progress"></div>
</div>
<template id="progress-site">
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      aria-valuenow="10"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 0%"></div>
  </div>
</template>
<div class="manhwa-buttons-action">
<div class="accordion mb-2" id="ongoing">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOngoing">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOngoing"
        aria-expanded="false"
        aria-controls="collapseOngoing">
        Ongoing
      </button>
    </h2>
    <div
      id="collapseOngoing"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingOngoing"
      data-bs-parent="#ongoing">
      <div class="manhwa-rows" tabindex="0">
        <div class="devider card-group" id="ongoing">
          <% for(let manhwa of manhwas){ if(manhwa.chapter.toFixed(1) !=
          manhwa.chapters.toFixed(1) && manhwa.chapter != 1 && manhwa.reading !=
          1){ %> <%- include('parts/card.ejs', {manhwa}) %> <% manhwa.used =
          true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mb-2" id="hiatus">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingHiatus">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHiatus"
        aria-expanded="false"
        aria-controls="collapseHiatus">
        Hiatus
      </button>
    </h2>
    <div
      id="collapseHiatus"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingHiatus"
      data-bs-parent="#hiatus">
      <div class="manhwa-rows" tabindex="0">
        <div class="devider card-group" id="hiatus">
          <% for(let manhwa of manhwas){
          if(manhwa.status.toLowerCase().replace(/\s/g, '') == 'hiatus' &&
          manhwa.chapter.toFixed(1) == manhwa.chapters.toFixed(1) &&
          !manhwa.used){ %> <%- include('parts/card.ejs', {manhwa}) %> <%
          manhwa.used = true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mb-2" id="try">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTry">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTry"
        aria-expanded="false"
        aria-controls="collapseTry">
        Try
      </button>
    </h2>
    <div
      id="collapseTry"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingTry"
      data-bs-parent="#try">
      <div class="manhwa-rows" tabindex="0">
        <div class="devider card-group" id="try">
          <% for(let manhwa of manhwas){ if(manhwa.chapter == 1 &&
          !manhwa.used){ %> <%- include('parts/card.ejs', {manhwa}) %> <%
          manhwa.used = true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mb-2" id="completed">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCompleted">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseCompleted"
        aria-expanded="false"
        aria-controls="collapseCompleted">
        Completed
      </button>
    </h2>
    <div
      id="collapseCompleted"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingCompleted"
      data-bs-parent="#completed">
      <div class="manhwa-rows tabindex="0">
        <div class="devider card-group" id="completed">
          <% for(let manhwa of manhwas){
          if(manhwa.status.toLowerCase().replace(/\s/g, '') == 'completed' &&
          manhwa.chapter.toFixed(1) != manhwa.chapters.toFixed(1) &&
          !manhwa.used){ %> <%- include('parts/card.ejs', {manhwa}) %> <%
          manhwa.used = true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mb-2" id="dropped">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingDropped">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseDropped"
        aria-expanded="false"
        aria-controls="collapseDropped">
        Dropped
      </button>
    </h2>
    <div
      id="collapseDropped"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingDropped"
      data-bs-parent="#dropped">
      <div class="manhwa-rows" tabindex="0">
        <div class="devider card-group" id="dropped">
          <% for(let manhwa of manhwas){
          if(manhwa.status.toLowerCase().replace(/\s/g, '') == 'dropped' &&
          !manhwa.used){ %> <%- include('parts/card.ejs', {manhwa}) %> <%
          manhwa.used = true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mb-2" id="readLater">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingLater">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseLater"
        aria-expanded="false"
        aria-controls="collapseLater">
        Read Later
      </button>
    </h2>
    <div
      id="collapseLater"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingLater"
      data-bs-parent="#readLater">
      <div class="manhwa-rows" tabindex="0">
        <div class="devider card-group" id="later">
          <% for(let manhwa of manhwas){ if(manhwa.reading == 1 &&
          !manhwa.used){ %> <%- include('parts/card.ejs', {manhwa}) %> <%
          manhwa.used = true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mb-2" id="uptodate">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingUpToDate">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseUpToDate"
        aria-expanded="false"
        aria-controls="collapseUpToDate">
        Up-To-Date
      </button>
    </h2>
    <div
      id="collapseUpToDate"
      class="accordion-collapse collapse mt-2 show"
      aria-labelledby="headingUpToDate"
      data-bs-parent="#uptodate">
      <div class="manhwa-rows" tabindex="0">
        <div class="devider card-group" id="uptodate">
          <% for(let manhwa of manhwas){ if(manhwa.chapter.toFixed(1) ==
          manhwa.chapters.toFixed(1) && !manhwa.used){ %> <%-
          include('parts/card.ejs', {manhwa}) %> <% manhwa.used = true;}} %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/js/saved.js" type="module"></script>
