<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
  <head>
    <title>Manhwa saver</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicon_io/apple-touch-icon.png" />
    <meta
      name="google-site-verification"
      content="JtsQ5nRTczPakit51XXCEg4Lxxp-fkcE4fuGvq6zJXw" />
    <link href="/css/bootstrap.min.css" rel="preload"
    onload="this.onload=null;this.rel='stylesheet'" as="style"" />
    <noscript><link rel="stylesheet" href="/css/bootstrap.min.css" /></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      names="apple-mobile-web-app-status-bar-style"
      content="black-translucent" />
  </head>

  <body class="d-flex flex-column vh-100">
    <header><%- include('./partials/header') %></header>
    <main class="container mb-4 flex-grow-1">
      <% const message = getFlashMessage(); if(message){
      if(Array.isArray(message)){ for(let messag of message){ %>
      <div class="alert alert-warning"><%= messag %></div>
      <% }}else { %>
      <div
        class="alert alert-primary removePopup position-absolute z-3 mt- top-0 start-50 translate-middle-x">
        <%= message %>
      </div>
      <script>
        setTimeout(() => {
          document.querySelector(".removePopup").style.display = "none";
        }, 3000);
      </script>
      <% }} %> <%- include(`../${template}`) %>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
